<h1>New article</h1>
<ul>
  <li><strong>Article title</strong> - 1 very informative short sentence that grabs the attention of the person reading it</li>
  <li><strong>Article body</strong> - meat and potatoes, paragraphs as necessary</li>
  <li><strong>Article description</strong> - good for seo stuff, short 2-3 sentences that sums up the entire article</li>
  <li><strong>Article image url</strong> - just put 'blog1' for now to default it to an existing image on the server so the app won't break, and send me a picture that you want to use for the blog via email or text</li>
</ul>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
