<div id="<%= dom_id about_card %>">
  <p>
    <strong>About card title:</strong>
    <%= about_card.about_card_title %>
  </p>

  <p>
    <strong>About card description:</strong>
    <%= about_card.about_card_description %>
  </p>

  <p>
    <strong>About card image url:</strong>
    <%= about_card.about_card_image_url %>
  </p>

</div>
