<h1>Editing about card</h1>

<%= render "form", about_card: @about_card %>

<br>

<div>
  <%= link_to "Show this about card", @about_card %> |
  <%= link_to "Back to about cards", about_cards_path %>
</div>
