<h1>Welcome to Beard Bros Dumpsters</h1>
<p>We offer a variety of dumpster delivery services to meet your needs!</p>

<section class="landing-cards">
  <% if @featured_landing_cards.present? %>
    <ul>
      <% @featured_landing_cards.each do |card| %>
        <li>
          <h3><%= card.title %></h3>
          <p><%= card.description %></p>
          <% if card.image.present? %>
            <%= image_tag card.image, alt: card.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Still working on some new features.</p>
  <% end %>
</section>