/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "simple_calendar";

 ul {
    list-style-type: none;
    padding-left: 0;
    padding: 1em;
 }

 img {
   max-width: 100%;
   min-width: 100%;
   height: auto;
}

.simple-calendar {
    width: 69%;
    margin: auto;
  }
 
  #nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      height: 200px;
    }
    ul {
       display: flex;
       flex-direction: row;
       a {
         text-decoration: none;
         color: black;
       }
       li {
          padding: .25em;
       }
    }
  }
 
  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    ul {
       li {
          max-width: 30vw;
          min-width: 300px;
       }
    }
  }
 
  #pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    ul {
       li {
          max-width: 275px;
       }
    }
  }

  #blog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    ul {
       li {
          width: 60vw;
       }
    }
  }