<div id="<%= dom_id pricing_card %>">
  <p>
    <strong>Title:</strong>
    <%= pricing_card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pricing_card.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= pricing_card.image %>
  </p>

</div>
