<h1>Editing pricing card</h1>

<%= render "form", pricing_card: @pricing_card %>

<br>

<div>
  <%= link_to "Show this pricing card", @pricing_card %> |
  <%= link_to "Back to pricing cards", pricing_cards_path %>
</div>
