<div id="<%= dom_id landing_card %>">
  <p>
    <strong>Title:</strong>
    <%= landing_card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= landing_card.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= landing_card.image %>
  </p>

</div>
