<h1>Editing landing card</h1>

<%= render "form", landing_card: @landing_card %>

<br>

<div>
  <%= link_to "Show this landing card", @landing_card %> |
  <%= link_to "Back to dashboard", dashboard_path %>
</div>
